/*färger:
E87EB8
FF9EAF
FFB1F9
DB95E8
E1ADFF



*/
body {
	background-image: url("pics/bg.png");
	
}

#head h1 {
	letter-spacing: 5px;
}

#head li {
	
	margin: 10px;
	list-style-type: none;
	float: left;
	
}

#head a{
	background-image: url("pics/bandet.png");
	width: 38px;
	height: 89px;
	display: block;
	text-indent: -1000px;
	
}

#start-ikon {
	background-position: 0px 0px;
}

#start-ikon:hover {
	background-position: 38px 0px;
}

.nav {
	background-color: #FFF;
	width: 950px;
	float: left;
	border-top: 1px solid #E1ADFF;
	border-bottom: 1px solid #E1ADFF;
	
}


.nav li {
	
	margin: 10px;
	list-style-type: none;
	float: left;
	
}

.nav li .active {
	background-color: #d8e1f2;
	border: 2px solid #d8e1f2;
	border-radius: 8px;
	
}

#container {
	/*opacity:0.9;*/
	background-color: #FFF;
	overflow: auto;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	padding:5px;
	
}

#content {
	background-color: #FFF;
	float: left;
	width: 700px;
	padding: 10px;
	border-left: 1px solid #E1ADFF;
	margin-top: 20px;
	margin-bottom: 20px;

}

.nyheter {
	border-top: 1px solid #E1ADFF;
	padding: 5px;
}


.nyheter h4 {
	color: #fa99b6;
	font-style: italic;
}

.right {
	float: right;
}

#side1 {
	background-color: #FFF;
	float: left;
	width: 160px;
	padding: 5px;
	
	border-bottom: 1px solid #E1ADFF;
	
}

#side1 p {
	margin-left: 20px;
	font-size: 13px;
}

#side1 li {
	list-style-type: none;
}

#arkiv {
	border-bottom: 1px solid #E1ADFF;
}

#arkiv h4 {
	margin-left: 40px;
}

#kommande h4 {
	margin-left: 40px;
}

#kommande a {
	color: #000;
	text-decoration: none;
}

#kontakt li {
	list-style-type: none;
	margin: 10px;
}

.submitButton {
	background-color: #fbdbe7;
	border: 2px solid #fbdbe7;
	border-radius: 8px;
}

#foot {
	
	background-color: #E1ADFF;
	float: left;
	width: 950px;
	padding: 5px;
	border: 1px solid #E1ADFF;
	border-radius: 8px;
	font-size: 12px;
	font-style: italic;
}