/*färger:
E87EB8
FF9EAF
FFB1F9
DB95E8
E1ADFF



*/
body {
	background-image: url("pics/bg.png");
	
}
/*header*/
#head h1 {
	letter-spacing: 5px;
}

#head li {
	
	margin: 10px;
	list-style-type: none;
	float: left;
	
}
/*slut header*/

/*stripes*/
#head a{
	background-image: url("pics/tutti.png");
	width: 110px;
	height: 112px;
	display: block;
	text-indent: -1000px;
	
}

#start-ikon {
	background-position: 0px 0px;
}

#start-ikon:hover {
	background-position: 111px 0px;
}

#omoss a{
	background-image: url("pics/stripe1.png");
	width: 163px;
	height: 147px;
	display: block;
	text-indent: -1000px;
	
}

#ombutt {
	background-position: 163px 0px;
}

#ombutt:hover {
	background-position: 163px 295px;
}

#mail a{
	background-image: url("pics/stripe1.png");
	width: 163px;
	height: 148px;
	display: block;
	text-indent: -1000px;
	
}

#mailbutt {
	background-position: -90px 0px;
}

#mailbutt:hover {
	background-position: -90px 296px;
}

#nblogg a{
	background-image: url("pics/stripe1.png");
	width: 163px;
	height: 148px;
	display: block;
	text-indent: -1000px;
	
}

#newsbutt {
	background-position: 163px -148px;
}

#newsbutt:hover {
	background-position: 163px 148px;
}

#donera a{
	background-image: url("pics/stripe1.png");
	width: 162px;
	height: 143px;
	display: block;
	text-indent: -1000px;
	
}

#donbutt {
	background-position: -88px -148px;
}

#donbutt:hover {
	background-position: -88px 148px;
}

#information a{
	background-image: url("pics/stripe1.png");
	width: 88px;
	height: 291px;
	display: block;
	text-indent: -1000px;
	
}

#infobutt {
	background-position: 0px 0px;
}

#infobutt:hover {
	background-position: 0px 291px;
}

#fonden a{
	background-image: url("pics/bandet.png");
	width: 98px;
	height: 236px;
	display: block;
	text-indent: -1000px;
	
}

#fondbutt {
	background-position: 0px 0px;
}

#fondbutt:hover {
	background-position: 100px 0px;
}

/*slut stripes*/

/*meny*/
.nav {
	background-color: #FFF;
	width: 950px;
	float: left;
	border-top: 1px solid #E1ADFF;
	border-bottom: 1px solid #E1ADFF;
	
}


.nav li {
	
	margin: 10px;
	list-style-type: none;
	float: left;
	
}

.nav li .active {
	background-color: #d8e1f2;
	border: 2px solid #d8e1f2;
	border-radius: 8px;
	
}

/*slut meny*/

#container {
	
	background-color: #FFF;
	overflow: auto;
	max-width: 960px;
	margin: 0 auto;
	border-radius: 10px;
	padding:5px;
	
}

#content {
	background-color: #FFF;
	float: left;
	width: 700px;
	padding: 10px;
	border-left: 1px solid #E1ADFF;
	margin-top: 20px;
	margin-bottom: 20px;

}
/*nyhetsblogg*/
.nyheter {
	border-top: 1px solid #E1ADFF;
	padding: 5px;
}


.nyheter h4 {
	color: #fa99b6;
	font-style: italic;
}

.right {
	float: right;
}
/*slut nyhetsblogg*/

/*index navigation*/
.navruta {
	
	height:100px;
	margin-bottom: 20px;
	width: 200px;
	padding-left: 20px;
}
.navruta1 {
	
	height:100px;
	margin-bottom: 50px;
	width: 450px;
}

#omoss {
	float: left;
}

#mail {
	float: left;
	
}

#information {
	float: right;
	margin-right: 13px;
	
}

#nblogg {
	float: left;
}

#donera {
	float: left;
	
}

#fonden {
	float: right;
	margin-top: 20px;
	margin-right: 80px;
}
/*slut index navigation*/

/*sidocolumn*/
#side1 {
	background-color: #FFF;
	float: left;
	width: 160px;
	padding: 5px;
	
	border-bottom: 1px solid #E1ADFF;
	
}

#side1 p {
	margin-left: 20px;
	font-size: 13px;
}

#side1 li {
	list-style-type: none;
}

#arkiv {
	border-bottom: 1px solid #E1ADFF;
}

#arkiv h4 {
	margin-left: 40px;
}

#kommande h4 {
	margin-left: 40px;
}

#kommande a {
	color: #000;
	text-decoration: none;
}
/*slut sidocolumn*/

/*kontakt/donation*/
#kontakt li {
	list-style-type: none;
	margin: 10px;
}

.submitButton {
	background-color: #fbdbe7;
	border: 2px solid #fbdbe7;
	border-radius: 8px;
}
/*slut kontakt/donation*/

/*footer*/
#foot {
	
	background-color: #E1ADFF;
	float: left;
	width: 950px;
	padding: 5px;
	border: 1px solid #E1ADFF;
	border-radius: 8px;
	font-size: 12px;
	font-style: italic;
}
/*slut footer*/